<section class="section">
    <div class="context">
        <h1>Just the right amount of everything.</h1>
        <div class="context-form">
            <form action="#" method="POST" class="form" name="form-1">
                <div class="form-input">
                    <div class="form-input-email">
                        <input type="email" placeholder="Enter a valid email address" id="email_01" name="email"
                            class="input-email" required>
                    </div>
                    <div class="form-input-btn">
                        <input type="submit" value="Submit" class="input-button">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="link-wrapper"><a routerLink="/about-me">About Me</a></div>
</section>