<section class="section-7">
    <div class="back-color-ye">

    </div>
    <div class="s-location-contactform">
        <div class="s-location">
            <div class="location-title">
                <h2>Location</h2>
                <p>28 Jackson Blvd Ste 1020 Chicago <br>IL 60604-2340</p>
            </div>
            <div class="contact-follow">
                <h2>Follow us</h2>
                <div class="s-a-icon">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-messenger"></i></a>
                    <a href="#"><i class="far fa-envelope-open"></i></a>
                </div>
            </div>

        </div>
        <div class="s-contactform">
            <h2>Contact Form</h2>
            <div class="form-contact">
                <form action="#" method="POST" class="form" name="form-2">
                    <div class="content-contact">
                        <div class="input txt-name">
                            <input type="text" placeholder="Enter Your Name" id="" name="" class="" required>
                        </div>
                        <div class="input txt-email">
                            <input type="email" placeholder="Enter a valid email address" id="" name="" class=""
                                required>
                        </div>
                        <div class="txta-message">
                            <textarea placeholder="Message"></textarea>
                        </div>
                        <div class="submit-form">
                            <input type="submit" value="Submit" class="btn-submit">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>