/* You can add global styles to this file, and also import other style files */
:root {
  --yellow: #f1c50e;
  --white: #ffffff;
  --red: #ee1b24;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  height: auto;
  padding-top: 30px;
}

.img-racingboy {
  width: 60%;
  margin-left: 83px;
  height: 50%;
}
.c-h-p {
  width: 60%;
  height: 50%;
  padding-right: 50px;
  padding-top: 80px;
  text-align: left;
  font-size: 18px;
  margin-left: 169px;
}
.section-2 {
  background-color: #f1c50e;
  width: 100%;
}
.section-3 {
  width: 100%;
  display: flex;
}
.s-h2-h4 {
  width: 100%;
  /* height: 270px; */
  display: flex;
}
.s-design {
  width: 25%;
  text-align: center;
  /* height: 270px; */
  background-color: #ee1b24;
  color: #fff;
}
.s-documents {
  width: 25%;
  text-align: center;
  background-color: #f1c50e;
  /* height: 270px; */
}
.s-construction {
  width: 25%;
  text-align: center;
  background-color: #292d33;
  /* height: 270px; */
  color: #fff;
}
.s-build-construction {
  width: 25%;
  text-align: center;
  background-color: #555c66;
  /* height: 270px; */
  color: #fff;
}

.section-5 {
  width: 100%;
  height: 600px;
  background-color: #292d33;
  padding-top: 100px;
  position: relative;
}
.section-6 {
  width: 100%;
  height: 200px;
  background-position: 50% 50%;
  background-color: #292d33;
}
.s-container {
  width: 50%;
  height: 600px;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 10;
  left: 366px;
  top: 34px;
}

.s-container-h3-p {
  text-align: center;
  color: #fff;
}
.s-container-h3 {
  font-size: 25px;
}
.s-container-p {
  font-size: 18px;
}
.s-img-anhnguoi {
  background-image: url("assets/images/img3.jpg");
  width: 20%;
  height: 361px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.fas {
  font-size: 50px !important;
  color: #fff;
}
.s-h2-follow {
  background-color: var(--red);
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 10px;
  height: 200px;
}
.s-a-icon {
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
}
.fab {
  margin-right: 25px;
  font-size: 40px;
  color: #fff;
}
.far {
  margin-right: 25px;
  font-size: 40px;
  color: #fff;
}

.s-location-contactform {
  display: flex;
  width: 80%;
  height: 400px;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 130px;
  padding: 0px 100px;
}
.s-location {
  width: 50%;
  height: 400px;
  color: #fff;
  text-align: left;
  padding-left: 155px;
}
.location-title h2 {
  font-weight: 900;
  font-size: 2.25rem;
}
.location-title p {
  font-size: 1.125rem;
}

.s-contactform {
  width: 50%;
  height: 400px;
  color: #fff;
  text-align: left;
  margin-top: -34px;
}
.s-contactform h2 {
  font-weight: 900;
  font-size: 2.25rem;
}
.content-contact {
  width: 100%;
}
.content-contact .input {
  width: 100%;
  height: 80px;
}
.content-contact .input input {
  width: 100%;
  height: 60%;
  border: 0;
}
.content-contact .txta-message {
  width: 100%;
  height: 80px;
}
.content-contact .txta-message textarea {
  width: 100%;
  height: 90%;
  border: 0;
}
.btn-submit {
  height: 100%;
  width: 116px;
  background-color: #0000;
  /* border-color: #fff; */
  border: 3px solid #fff;
  color: #fff;
}
.submit-form {
  height: 42px;
  margin-top: 19px;
}
.contact-follow .s-a-icon {
  margin-left: 0;
  text-align: left;
}
.section-7 {
  background-color: #000;
  padding-top: 5px;
  height: 606px;
  position: relative;
}
.back-color-ye {
  background-color: #f1c50e;
  width: 20%;
  text-align: center;
  height: 100%;
  float: center;
  margin: auto;
}
.section-8 {
  text-align: center;
  background-color: #333333;
  height: 60px;
  padding-top: 43px;
}
.text-footer {
  text-align: center;
  color: #fff;
}
.back-var(--red)-default {
  background-color: var(--red);
  width: 40%;
  margin: auto;
  height: 300px;
}
